<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href={{  url_for('static',filename='css/bootstrap.min.css') }} rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
    {% block content%}{% endblock %}

    <script src={{  url_for('static',filename='js/bootstrap.bundle.min.js') }}></script>
    {% block js %}{% endblock %}
  </body>
</html>