{% extends "layout.html" %}
{% block title %}Perfil do {% print user.user_firstname %} {% endblock %}
{% block css %}{% endblock %}
{% block content %}
<main>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for post in posts: %}
        <div class="col">
        <div class="card shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg> -->
            <img src={% print post.post_mediapath+post.post_filename %} class="width="100%" height="225"">
            <div class="card-body">
            <p class="card-text">{% print post.post_description %}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">{% print post.post_datecreated %}</small>
            </div>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>

</main>
{% endblock %}
{% block js %}{% endblock %}